.add-user-wrap {
    width: 700px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .add-user-header {
        display: flex;
    }

    .add-user-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .address-field {
            grid-column: span 2;
        }

        .form-field {

        }
    }
    .add-user-footer {
        display: flex;
        justify-content: flex-end;

        .footer-buttons {
            display: flex;
            gap: 10px;
        }
    }
}