.language-dropdown-wrap {
  position: relative;
  
  .language-dropdown-header {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .image {
      width: 40px;
      height: 27px;
    }
    .text {
      color: #646464;
      font-size: 14px;
    }
  }

  .language-dropdown-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 0px;
    width: 254px;
    overflow: hidden;
    left: -80px;
    background-color: #ffffff;
    border: #D8D8D8 solid 0.5px;
    border-radius: 8px;
    top: 40px;
    transition: all 0.5s ease-in-out;
    z-index: 9;
    box-sizing: border-box;
    opacity: 0;

    .language-dropdown-header {
      border-bottom: #D8D8D8 solid 0.5px;
      padding: 8px;
      span {
        font-size: 15px;
        color: #404040;
      }
    }
    .language-dropdown-body {
      display: flex;
      flex-direction: column;
      flex: 1;

      .language-item {
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        .language-image {
          width: 40px;
          height: 27px;
        }
        .language-text {
          flex: 1;
          font-size: 14px;
          color: #404040;
        }
      }
    }
  }
}