.admin-search-input-box {
    display: flex;
    gap: 8px;
    align-items: center;

    padding: 0px 12px;
    border-radius: 19px;
    border: solid 0.6px #D5D5D5;
    background-color: #F5F6FA;

    width: 388px;
    height: 38px;

    .admin-search-input-icon {}
    
    .admin-search-input {
        border: none;
        outline: none;
        background: none;
        font-size: 14px;
        width: 100%;
        color: #202224;
    }
}